{% extends 'base.html.twig' %}

{% block body %}

    <div class="table-responsive">
        <table class="table">
            <thead>

            <tr id="tr1">
                <td colspan="5"><h1>{{ 'Lista użytkowników'|trans }}</h1></td>
            </tr>
            </thead>

            <tr align="center">
                <td class="thead" align="left" width="4%" id="mainthead"></td>
                <td class="thead" align="left" width="60%" id="mainthead">{{ 'Nazwa użytkownika'|trans }}</td>
            </tr>

            <tbody>
            {% for row in communities %}
            <tr align="center">
                <td class="td"><img src="{{ asset('images/tdlogo.png') }}" alt="Logo"></td>
                <td align="left" class="td"><div><a href="{{ url('community_view', {'id': row.idForumUser}) }}" title="{{ row.username }}">{{ row.username }}</div></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}