{% extends 'base.html.twig' %}

{% block body %}

    <div style="width:60%; height:auto; margin:auto; border:1px solid #4CAF50; padding:20px; margin-top:30px;">
    <p style="padding-top:20px; font-size:25px; border-bottom:1px solid #4CAF50;">{{ 'Nazwa użytkownika'|trans }}: {{ community['username'] }}</p>
    <p style="font-size:20px;">{{ 'Imię'|trans }}: {{ community['name'] }}</p>
    <p style="font-size:20px;">{{ 'Nazwisko'|trans }}: {{ community['surname'] }}</p>
    <p style="font-size:20px;">{{ 'Email'|trans }}: {{ community['email'] }}</p>
    <p style="font-size:20px;">{{ 'Data urodzenia'|trans }}: {{ community['birthdate'] }}</p>
    <p style="padding-bottom:20px; font-size:20px;">{{ 'Ilość postów'|trans }}: {{ post['posts'] }}</p>
    </div>

    {% if isblocked !=0 %}
    {% if ( community['role'] != adminrole) %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('makeadmin', {'id': id}) }}" title="{{ 'auth.makeadmin.label'|trans }}" class="buttoncss3" onclick="return confirm('Jesteś pewien?')" >{{ 'Nadaj uprawnienia administratora'|trans }}</a>
        {% endif %}
    {% endif %}
    {% if(community['role'] == adminrole) %}
        {% if is_granted('ROLE_ADMIN') %}
            {% if community['idForumUser'] != current %}
            <a href="{{ url('makeuser', {'id': id}) }}" title="{{ 'auth.makeuser.label'|trans }}" class="buttoncss3" onclick="return confirm('Jesteś pewien?')" >{{ 'Nadaj uprawnienia użytkownika'|trans }}</a>
        {% endif %}
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if ( community['blocked'] != 0) %}
            {% if community['idForumUser'] != current %}
        <a href="{{ url('blockuser', {'id': id}) }}" title="{{ 'auth.blockuser.label'|trans }}" class="buttoncss3" onclick="return confirm('Jesteś pewien?')" >{{ 'Zablokuj konto użytkownika'|trans }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% if ( community['blocked'] != 1) %}
            {% if community['idForumUser'] != current %}
            <a href="{{ url('unblockuser', {'id': id}) }}" title="{{ 'auth.unblockuser.label'|trans }}" class="buttoncss3" onclick="return confirm('Jesteś pewien?')" >{{ 'Odblokuj konto użytkownika'|trans }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
        {% endif %}
{% endblock %}