{% extends 'base.html.twig' %}

{% block body %}
    <div style="width:80%; height:auto; margin:auto; border:1px solid black; padding:20px;">
    <p style="padding-top:20px; font-size:30px; border-bottom:1px dashed black;">Nazwa użytkowika: {{ community['username'] }}</p>
    <p style="font-size:20px;">Imie użytkownika: {{ community['name'] }}<p/>
    <p style="font-size:20px;">Nazwisko użytkownika: {{ community['surname'] }}</p>
    <p style="font-size:20px;">Email użytkownika: {{ community['email'] }}</p>
    <p style="font-size:20px;">Data urodzenia użytkownika: {{ community['birthdate'] }}</p>
    <p style="padding-bottom:20px; font-size:20px;">Ilość postów: {{ post['posts'] }}</p>
    </div>
{% endblock %}