{% extends 'base.html.twig' %}
{% block body %}
    <div class="table-responsive">
        <table class="table">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <tr id="tr1" style="display:none; border-top:hidden;">
                <td colspan="5">Witaj na forum dyskusyjnym!</td>
            </tr>
                <tr id="tr2" style="display:none;">
                    <td colspan="5">Jeśli to twoja pierwsza wizyta, zapoznaj się z <a href="{{ url('faq_index') }}">FAQ</a></td>
                </tr>
            {% else %}
                <tr id="tr1" style="border-top:hidden;">
                    <td colspan="5">Witaj na forum dyskusyjnym!</td>
                </tr>
                <tr id="tr2">
                    <td colspan="5">Jeśli to twoja pierwsza wizyta, zapoznaj się z <a href="{{ url('faq_index') }}">FAQ</a></td>
                </tr>
            {% endif %}
            <tr align="center" style="border-top:hidden;">
                <td class="thead" align="left" width="4%" id="mainthead"></td>
                <td class="thead" align="left" width="60%" id="mainthead"></td>
                <td class="thead" id="mainthead">Wątki</td>
                <td class="thead" id="mainthead">Posty</td>
            </tr>
            </thead>
            {% for sub in subforum %}
            <tr>
                <td id="tdheader" colspan="5">{{ sub.name }}</td>
            </tr>
            <tbody>
            {% for row in topics %}
            {% if row.idSubforum==sub.idSubforum %}
                <tr align="center">
                    <td class="td"><img src="{{ asset('images/tdlogo.png') }}" alt="Logo"></td>
                    <td align="left" class="td"><div><a href="{{ url('topic_index', {'slug': row.idForumSection}) }}" title="{{ row.nameSection }}">{{ row.nameSection }}</div></td>
                    <td class="td">{{ row.topics }}</td>
                    <td class="td">{{ row.posts }}</td>
                </tr>
            {% endif %}
            </tbody>
            {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}


