{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{ url('homepage') }}">
                    <img src="{{ asset('images/logo.jpg') }}" alt="Logo" class="navbar-brand"></img>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url('homepage') }}">Strona główna</a></li>
                <li><a href="{{ url('community_index') }}">Społeczność</a></li>
                <li><a href="{{ url('faq_index') }}">FAQ</a></li>
                <li><a href="#">Rejestracja/logowanie</a></li>
            </ul>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr id="tr1">
                <td colspan="5">Witaj na forum dyskusyjnym!</td>
            </tr>
            <tr id="tr2">
                <td colspan="5">Jeśli to twoja pierwsza wizyta, zapoznaj się z <a href="{{ url('faq_index') }}">FAQ</a></td>
            </tr>
            <tr align="center">
                <td class="thead" align="left" width="4%" id="mainthead"></td>
                <td class="thead" align="left" width="60%" id="mainthead">Forum</td>
                <td class="thead" id="mainthead">Wątki</td>
                <td class="thead" id="mainthead">Posty</td>
            </tr>
            </thead>


            {% for sub in subforum %}
            <tr>
                <td id="tdheader" colspan="5">{{ sub.name }}</td>
            </tr>
            <tbody>
            {% for row in topics %}
            {% if row.idSubforum==sub.idSubforum %}
                <tr align="center">
                    <td class="td"><img src="{{ asset('images/tdlogo.jpg') }}" alt="Logo"></td>
                    <td align="left" class="td"><div><a href="{{ url('topic_index', {'slug': row.idForumSection}) }}" title="{{ row.nameSection }}">{{ row.nameSection }}</div></td>
                    <td class="td">{{ row.topics }}</td>
                    <td class="td">{{ row.posts }}</td>
                </tr>
            {% endif %}
            </tbody>
            {% endfor %}
            {% endfor %}

        </table>
    </div>
{% endblock %}
