{% extends 'base.html.twig' %}

{% block title %}{{ 'title.auth_login'|trans }}{% endblock %}

{% block body %}

    {% form_theme form with ['form/form_errors.html.twig'] %}
    <h1 style="text-align:center; margin-bottom:20px;">{{ 'Logowanie'|trans }}</h1>

    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
            is_single_message: true,
            is_dismissible: false,
            type: 'danger',
            message: error,
        } %}
    {% endif %}

    <div>
        {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
        {{ form_start(form, { method: 'post', action: path('auth_login_check') }) }}
        {{ form_widget(form) }}
        <input class="buttoncss2 "type="submit" title="{{ 'auth.login.label'|trans }}" value="{{ 'Zaloguj'|trans }}" class="btn btn-success" />
        {{ form_end(form) }}
    </div>

{% endblock %}