{% extends 'base.html.twig' %}

{% block title %}{{ 'title.tag_add'|trans }}{% endblock %}

{% block body %}

    <h1 style="text-align:center; margin-bottom:20px;">{{ 'Dodaj temat'|trans }}</h1>

    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig'] %}
    {{ form_start(form, { method: 'post', action: url('topic_add', {'slug': slug}) }) }}
    {{ form_widget(form) }}
    <input class="buttoncss2" type="submit" title="{{ 'auth.add.label'|trans }}" value="{{ 'Dodaj'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}

{% endblock %}